	<p>Sign Up!</p>

	<% @title = "Sign Up" %>

	<br>
	<form class="signup" method="POST" action="/newsignin">
		<label for="username">Create Username</label>
		<input type="text" name="username" class="username">
		<br>
		<br>
		<label for="password">Create Password</label>
		<input type="password" name="password" class="password1">
		<br>
		<br>
		<label for="password">Re-Enter Password</label>
		<input type="password" name="repeat_password" class="password2">
		<br>
		<br>
		<input type="submit">
	</form>